
<!DOCTYPE html>
{%load static%}
<html lang="en" dir="ltr">
 <head>
     <meta charset="utf-8">
     <title>HomePage</title>
     <link rel="stylesheet" href="{% static "css/movies.css"%}">
 </head>
 <body>
     <div align="center">
         <div >
             <h1>Telugu Movies..!!</h1>
             <hr />
             <p>Up-to-date movies details..!!</p>
             <a href="/addmovie/" >Add-Movie</a>
             <a href="/listmovies/" >List-Movies</a>
         </div>
     </div>
 </body>
</html>


